<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to '首頁', root_path  %></li>
      <li role="presentation"><%= link_to '最新動態', feeds_restaurants_path %></li>
      <li role="presentation"><%= link_to 'Top10人氣餐廳', ranking_restaurants_path %></li>
      <li role="presentation" class="active"><%= link_to '美食達人', users_path %></li>
    </ul>
  </div>
  <div class="foodie">
    <h1>美食達人</h1>
    <hr>
    
      <% @users.each do |user| %>
        <div class="col-xs-6 col-md-3">
          <div class="foodie-item">
            <%= image_tag user.avatar, class: "img-responsive center-block " %>
            <%= link_to user.name, user_path(user) %> <br>

            <%= render partial: "shared/follow", locals: {user: user} %>
          </div>
            
        </div>
      <% end %>
      
    
  </div>
</div>

  