<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="profile">
        <div class="col-left">
          <div class="avatar">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
          </div>
        </div>
        <div class="col-right">
          <div class="personal-info">
            <h2><%= @user.name %></h2>
            <p><strong><%= @user.email %></strong></p>
            <div><%= simple_format(@user.intro) %></div>
            <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>