<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to '首頁', root_path  %></li>
      <li role="presentation"><%= link_to '最新動態', feeds_restaurants_path %></li>
      <li role="presentation"><%= link_to 'Top10人氣餐廳', ranking_restaurants_path %></li>
      <li role="presentation"><%= link_to '美食達人', users_path %></li>

    </ul>

      <ul class="nav nav-pills nav-pills-center">
        <li role="presentation" class="active"><%= link_to '全部餐廳', root_path %></li>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
      <br>

     <%= render partial:"/shared/restaurant_list" %> 
    
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124527089-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124527089-2');
</script>





